@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smooopen: antialiased;
  -moz-osx-font-smooopen: grayscale;

  --slider-height: 20px;
  --slider-thumb-width: 1px;
  --slider-bg: #333;
  --slider-thumb: dodgerblue;
  --slider-fg: dodgerblue;
}

body {
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
}

.times {
  width: 180px;
  height: 200px;
  opacity: .5;
  margin: 0;
  padding: 10px;
  list-style: none;
  pointer-events: none;
  user-select: none;
}

/* slider based on https://codepen.io/noahblon/pen/OyajvN */
/* NOTE: Only tested on Chrome 1/13/2025 */
input[type="range"] {
  margin: auto;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  overflow: hidden;
  height: var(--slider-height);
  width: 200px;
  cursor: pointer;
  border-radius: 0;
}

::-webkit-slider-runnable-track {
  background: var(--slider-bg);
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--slider-thumb-width);
  height: var(--slider-height);
  background: var(--slider-thumb);
  box-shadow: -200px 0 0 200px var(--slider-fg);
}

::-moz-range-track {
  height: var(--slider-height);
  background: var(--slider-bg);
}

::-moz-range-thumb {
  background: var(--slider-thumb);
  ;
  height: var(--slider-height);
  width: var(--slider-thumb-width);
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px var(--slider-fg);
  box-sizing: border-box;
}

::-ms-fill-lower {
  background: var(--slider-fg);
}

::-ms-thumb {
  background: var(--slider-thumb);
  ;

  height: var(--slider-height);
  width: var(--slider-thumb-width);

  box-sizing: border-box;
}

::-ms-ticks-after {
  display: none;
}

::-ms-ticks-before {
  display: none;
}

::-ms-track {
  background: var(--slider-bg);
  color: transparent;
  height: var(--slider-height);
  border: none;
}

::-ms-tooltip {
  display: none;
}

.controlsParent {
  user-select: none;
  opacity: 0.2;
  position: absolute;
  right: -170px;
  transition: all 0.5s;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 270px;
  margin: 0;
  text-align: right;
  padding: 10px;
  justify-content: end;
}

.controlsParent.open {
  opacity: 1;
  right: 0;
}

.rangeHolder {
  position: relative;
  align-items: center;
}

.sliderValue {
  position: absolute;
  font-size: 14px;
  left: 50%;
  transform: translate(-50%, 0);

  color: white;
  user-select: none;
  pointer-events: none;
}

.rangeHolder>input {
  margin: 0;
  width: 160px;
  margin-left: 10px;
  margin-bottom: 8px;
  overflow-x: hidden;
}

.rangeHolder>label {
  width: 90px;
  margin-bottom: 8px;
  overflow-x: hidden;
}

.resetBtn {
  transition:
    all 0.5s,
    color 0.2s,
    background-color 0.2s;
  outline: none;
  border: 1px white solid;
  width: 90px;
  margin-right: 170px;
  height: 32px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-family: 'Inter';
}

.resetBtn.open {
  margin-right: 0px;
  width: 260px;
}

.resetBtn:active {
  background-color: white;
  color: #000;
}